@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-foreground-light bg-gradient-to-b from-backgroundStart-light to-backgroundEnd-light dark:text-foreground-dark dark:from-backgroundStart-dark dark:to-backgroundEnd-dark;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .max-w-custom {
    max-width: calc((100% - 768px) / 2 + 768px); /* 768px is the 'md' breakpoint */
    max-width: calc((1024px - 768px) / 2 + 768px); /* Custom size between 'md' and 'lg' */
  }
   .mr-1-25 {
    margin-right: 1.25rem;
  }
}

@layer base {
    img {
        width: auto;
        height: auto;
    }
}

.spinner-border {
  @apply border-t-transparent border-r-gray-700 border-b-gray-700 border-l-gray-700 dark:border-r-gray-300 dark:border-b-gray-300 dark:border-l-gray-300;
}
